{:paths ["src" "resources"]
 :deps {}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}
           :prof {:extra-paths ["bench" "test"]
                  :jvm-opts ["-Djdk.attach.allowAttachSelf=true"]
                  :extra-deps
                  {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}}
                  :exec-fn   parka.json-bench/-main}}}
